TestManagePath/Web References/ManagePathWebRef/VendorTicketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://managepath8.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://managepath8.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://managepath8.com/">
      <s:element name="MPTicketService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MPTicketServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MPTicketServiceResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MPTicketServiceSoapIn">
    <wsdl:part name="parameters" element="tns:MPTicketService" />
  </wsdl:message>
  <wsdl:message name="MPTicketServiceSoapOut">
    <wsdl:part name="parameters" element="tns:MPTicketServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="VendorTicketServiceSoap">
    <wsdl:operation name="MPTicketService">
      <wsdl:input message="tns:MPTicketServiceSoapIn" />
      <wsdl:output message="tns:MPTicketServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VendorTicketServiceSoap" type="tns:VendorTicketServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MPTicketService">
      <soap:operation soapAction="http://managepath8.com/MPTicketService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VendorTicketServiceSoap12" type="tns:VendorTicketServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MPTicketService">
      <soap12:operation soapAction="http://managepath8.com/MPTicketService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VendorTicketService">
    <wsdl:port name="VendorTicketServiceSoap" binding="tns:VendorTicketServiceSoap">
      <soap:address location="http://managepath8.com/Services/Implementations/DollarGeneral/VendorTicketService.asmx" />
    </wsdl:port>
    <wsdl:port name="VendorTicketServiceSoap12" binding="tns:VendorTicketServiceSoap12">
      <soap12:address location="http://managepath8.com/Services/Implementations/DollarGeneral/VendorTicketService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>